# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
venv/
ENV/

# Environment variables
*.env

# Cache & data
data/cache/
*.json

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# IDEs
.vscode/
.idea/
*.swp